@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

/* For most browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.assistant-regular {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.assistant-semi-bold {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.assistant-bold {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}